In [11]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [12]:
df = pd.read_csv("../text-mining-project-data/clean/count-4856.csv")
labels = df.pop("labels")

enc = LabelEncoder()
enc_labels = enc.fit_transform(labels)

In [31]:
trans = TfidfTransformer()
tfidf = trans.fit_transform(df).toarray()
tfidf_df = pd.DataFrame(tfidf, columns = trans.get_feature_names_out())
tfidf_df_lab = tfidf_df.copy()
tfidf_df_lab.insert(0, "label", enc_labels)
x_train, x_test, y_train, y_test = train_test_split(tfidf_df, enc_labels)
tfidf_df_lab.sample(10)

,label,aaron,abandoned,abbott,abc,abiding,ability,able,abortion,abroad,...,younger,youngest,youre,youth,youtube,youve,zealand,zero,zone,zones
767,1,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
2534,0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.000000,0.060127,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
2556,0,0.0,0.0,0.0,0.0,0.0,0.05843,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
174,1,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.044882,0.028464,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
2578,0,0.0,0.0,0.0,0.0,0.0,0.00000,0.015831,0.0,0.0,...,0.0,0.000000,0.017467,0.0,0.023745,0.0,0.0,0.048947,0.0,0.0
2209,0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
1524,1,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
2484,0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
402,1,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
44,0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0

In [22]:
tfidf_df

,aaron,abandoned,abbott,abc,abiding,ability,able,abortion,abroad,absence,...,younger,youngest,youre,youth,youtube,youve,zealand,zero,zone,zones
0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.105944,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2620,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2621,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2622,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.089326,0.0,0.0,0.0,0.000000
2623,0.0,0.0,0.0,0.0,0.105797,0.00000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2624,0.0,0.0,0.0,0.0,0.000000,0.06981,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.087096

In [14]:
x_train

,aaron,abandoned,abbott,abc,abiding,ability,able,abortion,abroad,absence,...,younger,youngest,youre,youth,youtube,youve,zealand,zero,zone,zones
1470,0.0,0.0,0.0,0.000000,0.0,0.0,0.126569,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
303,0.0,0.0,0.0,0.164926,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.155424,0.000000,0.000000,0.000000,0.0,0.000000,0.0
2117,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
461,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
315,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2514,0.0,0.0,0.0,0.000000,0.0,0.0,0.044718,0.0,0.0,0.0,...,0.0,0.0,0.098679,0.000000,0.000000,0.064505,0.000000,0.0,0.037166,0.0
682,0.0,0.0,0.0,0.000000,0.0,0.0,0.028792,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
261,0.0,0.0,0.0,0.000000,0.0,0.0,0.055014,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.092888,0.0,0.000000,0.0
372,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
605,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.088426,0.000000,0.000000,0.0,0.000000,0.0

In [15]:
x_test

,aaron,abandoned,abbott,abc,abiding,ability,able,abortion,abroad,absence,...,younger,youngest,youre,youth,youtube,youve,zealand,zero,zone,zones
970,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.052491,0.000000,0.0,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0
2252,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.040383,0.000000,0.0,0.037669,0.0,0.0,0.0,0.00000,0.0,0.0
283,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0
1493,0.0,0.078047,0.080946,0.0,0.0,0.0,0.0,0.0,0.082628,0.0,...,0.000000,0.079429,0.0,0.000000,0.0,0.0,0.0,0.07058,0.0,0.0
2425,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2093,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0
618,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0
412,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.076623,0.0,0.0,0.0,0.00000,0.0,0.0
1486,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0
564,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0

In [32]:
pd.DataFrame(y_train, columns=["labels"])

      labels
0          1
1          0
2          1
3          0
4          1
...      ...
1963       1
1964       1
1965       1
1966       0
1967       1

[1968 rows x 1 columns]

In [33]:
pd.DataFrame(y_test, columns=["labels"])

     labels
0         1
1         1
2         1
3         1
4         0
..      ...
652       0
653       0
654       0
655       1
656       1

[657 rows x 1 columns]

In [8]:
df = pd.read_csv("mets_df.csv").rename(columns={"Unnamed: 0": "model"}).set_index("model")
df

                accuracy  precision    recall  f1 score
model
Neural Network  0.852359   0.836806  0.828179   0.83247